body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 300px;
  width: 100%;
}
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.btn {
  background: #00a86b;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.btn-outline {
  margin-top: 10px;
  color: #00a86b;
  border: 2px solid #00a86b;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  display: inline-block;
  width: 100%;
  text-align: center;
}
